{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
    <a href="{{ path('signupUser') }}"><button id="signupUser" type="button" class="btn btn-outline-primary">Register as user</button></a>
    <label id="or">or</label>
    <a href="{{ path('signupCompany') }}"><button id="signupCompany" type="button" class="btn btn-outline-primary">Register as company</button></a>
    </div>
{% endblock %}