<link rel="stylesheet" type="text/css" href="../styleBase.css" />
<head>

        <h1>
            <button id="Home"><img src="../Home-Button-Repair.png">Home</button>
            <button id="Register">Register</button>
            <button id="Login">Login</button>
        </h1>
        <meta charset="UTF-8">
        <title></title>

</head>
{% extends 'base.html.twig' %}
{% block body %}
    {{ form(registration_form) }}
{%  endblock %}