{% extends 'base.html.twig' %}

{% block body %}
    <label>Register as user</label>
    <a href="{{ path('signupUser') }}">For users</a>
    <label>Register as company</label>
    <a href="{{ path('signupCompany') }}">For companies</a>

{% endblock %}