{% extends 'base.html.twig' %}
{% block title %}<title>Login</title>{% endblock %}
{% block body %}
    <div class="text-center">
        <form class="form-signin" action="{{ path('login') }}" method="POST">
            <div style="position:fixed;right: 43%">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            </div>
            <input type="text"
                   id="_username"
                   name="_username"
                   class="form-control"
                   placeholder="E-mail"
                   required autofocus>
            <input type="password"
                   id="_password"
                   name="_password"
                   class="form-control"
                   placeholder="Password"
                   required>

            <button class="btn btn-lg btn-primary" style="position: absolute;top: 47%;width: 20%;left: 42%" type="submit">Sign in</button>
            <a style="position: absolute;top: 55%;left: 42%" href='{{ path('resetPassword') }}'>Reset password?</a>
        </form>
    </div>

{% endblock %}