<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
        <h1>
            <button id="Home"><img src="Home-Button-Repair.png">Home</button>
            <button id="Register">Register</button>
            <button id="Login">Login</button>
        </h1>
        <meta charset="UTF-8">
        <title></title>

            <link rel="stylesheet" type="text/css" href="styleBase.css" />
        {% endblock %}

    </head>

    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
