{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(cost_form) }}
    <div id="default">
        Cost: {{ form_widget(cost_form.cost, {'attr': {'class': 'Order'}}) }}</br>
        </br>
        <button class="btn btn-primary">Change cost</button>
    </div>
    {{ form_end(cost_form) }}
{% endblock %}