{% include 'header.html.twig' %}

    <section class="main-container">
        <div class="main-wrapper">



            <img src="{{ asset('Images/stranger.gif') }}" alt="Symfony!" />
        </div>
    </section>

