{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-13"><h1 style="font-size: 70px">Autoservisu paieskos sistema</h1></div>
            <div class="col"></div>

        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
    </div>
    </div>
{% endblock %}
