{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(time_form) }}
    <div id="default">
        Visit time: {{ form_widget(time_form.startDate, {'attr': {'class': 'Order'}}) }}</br>
        </br>
        <button class="btn btn-primary">Visit time</button>
    </div>
    {{ form_end(time_form) }}
{% endblock %}